.order-page{

    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 20px;
    background-color: #f9f9f9;
   
}
.order-btn {
    background-color: #f04e30;
    color:black;
  
    padding: 8px 8px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}
.order-page li{
    display: grid;
    grid-template-columns: 3fr 2.5fr 0.75fr;
    margin-top: 5px;
    align-items: center;
    color: black;
    font-size: max(1vw,12px);
    
}
.increase-icon {
    font-size: 1.5rem;
    color: #007bff; 
    cursor: pointer; 
    transition: transform 0.2s ease, color 0.2s ease; /* Hiệu ứng chuyển đổi mượt */
  }
  
  .increase-icon:hover {
    color: #0056b3; 
    transform: scale(1.2); 
  }
  .decrease-icon {
    font-size: 1.5rem;  
    color:#f04e30 ; 
    cursor: pointer; 
    transition: transform 0.2s ease, color 0.2s ease; 
  }
  
  .decrease-icon:hover {
    color: red; 
    transform: scale(1.2); 
  }
  